<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% const date = new Date(); const numberOfWeek = date.getDay(); const
    weekend = "It's the weekend"; const weekday = "It's a weekday. Work Hard!";
    function dayOfWeek() { if (numberOfWeek === 0 || numberOfWeek === 6) {
    return weekend; } else { return weekday; } } %>
    <h1><%= dayOfWeek() %></h1>
  </body>
</html>
